# HydroServer config
HYDROSERVER_URL=
WORKSPACE_API_KEY=

# MQTT broker config
MQTT_BROKER_URL=
MQTT_BROKER_PORT=
# for subscribing to all topic of same site
MQTT_TOPIC_FILTER = "uwrl/#"
# for subscribing to all topic of same client
MQTT_TOPIC_FILTER = "uwrl/client/#"
MQTT_CLIENT_ID=
MQTT_KEEPALIVE=
MQTT_USERNAME=
MQTT_PASSWORD=

# Database
DB_PATH=

# Logging level
LOG_LEVEL=

# for retry worker
MAX_RETRY_ATTEMPT = 
# retry in seconds
RETRY_INTERVAL = 

HYDROSERVER_TOPIC_ROUTES= ["uwrl/#"]