# HydroServer config
HYDROSERVER_URL=
WORKSPACE_API_KEY=

# MQTT broker config
MQTT_BROKER_URL=
MQTT_BROKER_PORT=
MQTT_TOPIC_PREFIX=
MQTT_CLIENT_ID=
MQTT_KEEPALIVE=
MQTT_USERNAME=
MQTT_PASSWORD=

# Database
DB_PATH=

# Logging level
LOG_LEVEL=

# for retry worker
MAX_RETRY_ATTEMPT = 
# retry in seconds
RETRY_INTERVAL = 